
      <!-- Begin section -->
      <section class="tw-bg-white tw-pt-11 tw-mb-4">
        <div class="tw-wrapper">
          <div class="tw-text-center">
            <h2 class="tw-uppercase tw-text-4xl md:tw-text-7xl tw-font-bold">
                {{ section.settings.heading }}
            </h2>
            <h4 class="tw-text-yellow-500 tw-text-xl md:tw-text-5xl tw-font-semibold tw-pt-6 tw-pb-4">
                {{ section.settings.subtitle }}
            </h4>
          </div>

          <div
            class="tw-grid tw-grid-cols-1 md:tw-grid-cols-4 tw-gap-0 md:tw-gap-6 tw-mt-0 md:tw-mt-12"
          >

          {% comment %}
            tw-grid tw-grid-cols-1 md:tw-grid-cols-4 tw-gap-0 md:tw-gap-6 tw-mt-0 md:tw-mt-12
          {% endcomment %}

          {%- for block in section.blocks -%}

          {% assign collection = block.settings.collection %}
          {% assign product = collection.products | sort: 'price' | first %}

          {% comment %} {%- for p in collection.products -%}
            {{ p.price_min }}
          {%- endfor -%} {% endcomment %}

            <!-- grid item start -->
            <div class="tw-text-center">
                <a href="{{ collection.url }}">
                <img
                  src="{{ collection.image | image_url }}"
                  class="tw-mx-auto tw-rounded-lg"
                  alt="{{ collection.title }}"
                  loading="lazy"
                />
                </a>
                <h3 class="tw-pt-14 tw-pb-3 tw-text-5xl tw-font-semibold">
                    {{ collection.title }}
                </h3>
  
                <p class="tw-pb-8 tw-text-gray-800 tw-leading-tight md:tw-leading-normal tw-text-xl md:tw-text-2xl">
                    {{ collection.description }}
                </p>

                <div class="tw-cta-underline tw-mx-auto">
                  <a href="{{ collection.url }}" class="tw-flex
                  tw-items-center
                  tw-space-x-3 tw-text-2xl">
                      <span>FROM {{ product.price | money }}</span>
  
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="currentColor"
                    class="bi bi-arrow-right-short"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"
                    />
                  </svg>
                    </a>
                </div>
  
                <div class="tw-px-2 tw-py-12 tw-group">
                  <a href="{{ collection.url }}" class="tw-card-type-cta tw-text-xl">See Details</a>
                </div>
              </div>
              <!-- grid item end -->
          {%- endfor -%}

          </div>
        </div>
      </section>
      <!-- End section -->

{% schema %}
    { 
        "name": "CardFeaturedCollection",
        "max_blocks": 4,
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "default": "GET A B1TE",
                "label": "Heading"
            },
            {
                "type": "text",
                "id": "subtitle",
                "default": "Get started by choosing your base material type",
                "label": "Subtitle"
            }
        ],
        "blocks":[
          {
            "type": "card_collection",
            "name": "CardCollection",
            "settings": [
              {
                "id": "collection",
                "type": "collection",
                "label": "Card Collection"
              }
            ]
          }
        ],
        "presets": [{
            "name": "B1te Featured Collection",
            "category": "List"
        }]
    } 
{% endschema %}